<mat-grid-list cols="2" rowHeight="200px" gutterSize="16px" class="header-grid" 
[style.margin.px]="16" [style.marginBottom.px]="24">
    <mat-grid-tile>
        <mat-card class="input-card" appearance="outlined">
            <app-input (sendTask)="getTask($event)"></app-input>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="filter-card" appearance="outlined">
            <app-filter (sendFilter)="getFilter($event)"></app-filter>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" class="mt32 mr32 ml32">
    <app-list [filterValue]="filterValue" [newTask]="newTask"></app-list>
</mat-grid-list>
  
