table {
    width: 100%;
}
  
td, th {
    &[class*=" mat-column-"] { flex: none; }
}

.mat-column-select,
.mat-column-id,
.mat-column-options  {
    width: 6rem;
}

.mat-column-status {
    width: 9rem;
}

.completed {
    background-color: rgba(76, 175, 80, 0.1);
}

.mat-elevation-z8 {
    box-shadow: none;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}